# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tensorflow
runs/
tmp/

# Training Data
data/train/*.[jp][pn]g
data/validation/*.[jp][pn]g
data/watermarks/*.png
data/*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/